{% extend 'base.html' %}
{% block content %}
<h2>{{ movie.title }}</h2>
<h5>{{ movie.review_set.count }} review ({{ movie.average_rating | floatformat }} average rating)</h5>

<h3>Recent review</h3>

{% if movie.review_set.all %}
<div>
    {% for review in movie.review_set.all %}
    <div>
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'review_detail' review.id %}">Read more</a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No review available now</p>
{% endif %}

{% endblock %}
